#map-wrapper {
  height: 100%;
  position: relative;

  .map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
  }

  #legend {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    #hotels-legend {
      ul {
        li {
          cursor: pointer;
        }
      }
    }
  }

}
