@import '../../../../../node_modules/bootstrap/scss/bootstrap.scss';

nav {
  .bar {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.3s;
  }


  .navbar-toggler[aria-expanded="true"] .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px); /* Ajustes para la nueva altura */
  }

  .navbar-toggler[aria-expanded="true"] .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggler[aria-expanded="true"] .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px); /* Ajustes para la nueva altura */
  }

  #navbarContent {
    .router-link-active {
      color: $primary !important;
    }
  }

}
