.mapboxgl-popup {
  min-width: 150px;
  text-align: center;

  .mapboxgl-popup-content {
    border-radius: 8px;
    position: relative;

    .mapboxgl-popup-close-button {
      position: absolute;
      right: 5px;
      padding: 2px;
    }

    .mapboxgl-popup-close-button:hover {
      background-color: transparent
    }
  }
}

.fc-toolbar {
  flex-direction: column;
  gap: 1rem;
}

.fc-event{
  cursor: pointer !important;
}

/* Bootstrap Icons CSS Import */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";


html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem  !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

p, table, ul, span, button, a {
  font-size: 1rem  !important;
}

h1 {
  font-size: 1.75rem  !important;
}

h2 {
  font-size: 1.5rem  !important;
}

h3 {
  font-size: 1.25rem  !important;
}

h4 {
  font-size: 1.125rem  !important;
}

h5 {
  font-size: 1rem  !important;
}

h6 {
  font-size: 0.875rem  !important;
}

@media screen and (min-width: 768px) {
  p, table, ul, span, button, a {
    font-size: 1.125rem  !important;
  }

  h1 {
    font-size: 1.875rem  !important;
  }

  h2 {
    font-size: 1.625rem  !important;
  }

  h3 {
    font-size: 1.375rem  !important;
  }

  h4 {
    font-size: 1.25rem  !important;
  }

  h5 {
    font-size: 1.125rem  !important;
  }

  h6 {
    font-size: 1rem  !important;
  }

  .fc-toolbar {
    flex-direction: row;
    gap: unset;
  }
}

@media screen and (min-width: 992px) {
  p, table, ul, span, button, a {
    font-size: 1.25rem  !important;
  }

  h1 {
    font-size: 2rem  !important;
  }

  h2 {
    font-size: 1.75rem  !important;
  }

  h3 {
    font-size: 1.5rem  !important;
  }

  h4 {
    font-size: 1.375rem  !important;
  }

  h5 {
    font-size: 1.25rem  !important;
  }

  h6 {
    font-size: 1.125rem  !important;
  }
}

@media screen and (min-width: 1200px) {
  p, table, ul, span, button, a {
    font-size: 1.3rem !important;
  }

  h1 {
    font-size: 2.125rem !important;
  }

  h2 {
    font-size: 1.875rem !important;
  }

  h3 {
    font-size: 1.625rem !important;
  }

  h4 {
    font-size: 1.5rem !important;
  }

  h5 {
    font-size: 1.375rem !important;
  }

  h6 {
    font-size: 1.25rem !important;
  }
}
